<!DOCTYPE html>
<html lang="en">

<head>
    <!-- load script file -->
    <script type="text/javascript" src="JSscripts.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Stargazer Test
    </title>
</head>

<body>
    <div>
        You should <a href="login.html">log in</a> ya bishhhh.<br>
        You should <a href="register">register</a> ya bishhhh.<br>
        
        Hello <%= name %> Create a user by filling out fields below:
        <hr>
        <button onclick="getLocation()" type="button">Get Current Location</button>
        <br /><br />
        <!--Action will send it to server-->
        <form action="/results.html" method="POST">
            <input placeholder="Latitude" type="number" min=-90 max=90 step="any" id="Lat" name="lat" required>
            <input placeholder="Longitude" type="number" min=-180 max=180 step="any" id="Long" name="lng" required>

            <br>
            <br>
            Distance:
            <br/><br/>
            <input type="radio" id="loc1" value="5" name="dist" required>less than 5 km
            <br>
            <input type="radio" id="loc2" value="25" name="dist">less than 25 km
            <br>
            <input type="radio" id="loc3" value="50" name="dist">less than 50 km
            <br>
            <input type="radio" id="loc4" value="100" name="dist">less than 100 km
            <br>
            <input type="radio" id="loc5" value="200" name="dist">less than 200 km
            <br>
            <input type="radio" id="loc6" value="300" name="dist">less than 300 km
            <br>
            <br>
            <input placeholder="Max Light Pollution" type="number" min=0 max=40 step="any" id="lightpoll" name="lightpol" required>
            <button>Submit</button>
        </form>

        <br>
        <div id="results">

            </div>

    </div>

</body>

</html>