<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
		<title>Login</title>
	</head>
	<body>
		<div class="login-form">
            <h1>Login Form</h1>
            <!--post because the form data will be sent to our node server using this method-->
			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>